[submodule "rainwater-dashboard"]
	path = rainwater-dashboard
	url = "https://github.com/jasondunken/rainwater-dashboard.git"
[submodule "rainwater-server"]
	path = rainwater-server
	url = "https://github.com/jasondunken/rainwater-server.git"
